@charset "UTF-8";
.ob_cus_serCon {
  padding-top: 3rem;
  ul {
    @extend %textAlign;
    li {
      @extend %display;
      width: 3rem;
      @include height(true, 3rem, 3rem);
      border-radius: 100%;
      background-color: #fff;
      span {
        @extend %display;
        width: 2.4rem;
        @include height(true, 2.4rem, 3rem);
        @extend %vam;
        &.serveice_icon {
          //background:'url(' + require('../assets/service.png') + ')' no-repeat center;
          background-size: contain;
        }
        &.qq_icon {
          //background: 'url(' + require('../assets/qq.png') + ')' no-repeat center;
          background-size: contain;
        }

      }
      p {
        line-height:1rem;
        @extend %fontSize18;
      }
    }
    li + li {
      margin-left: 1.5rem;
    }

  }
}

//积分记录列表 时间选择器
.mr-root{
  .search_date{
    margin: 0.6rem 0.3rem;
.yd-datetime-input{
  text-align: center;display: inline-block;background-color: white;width: 2.6rem;height: 1rem;line-height: 1rem;border-radius: 0.2rem
    }
    .search_but{
      margin-left: 1.5rem;
      display: inline-block;
      text-align: center;
      border-radius: 0.1rem;
      font-size: 0.36rem;
      box-sizing: border-box;
    height: 1rem;line-height: 1rem;width: 1.3rem;
      color: #fff;
      background-color: #f44;
    }
  }
}
.yd-keyboard{
  max-width: 640px;
  left: inherit!important;
}
//统计记录
.statis_cla{
  .tab_statistic{
position: inherit;
    .van-tabbar-item{
      border-right:1px solid #ccc;
      color: black;
      font-weight:300;
    }

  }
}
