@charset "UTF-8";
.ob_header_select {
  border: none;
  background-color: $red_color;
}

.ob_moreOperate_content {
  position: absolute;
  top: 44px;
  right: 5px;
  width: 25%;
  .van-cell {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    .van-cell__title {
      margin: 0 auto;
    }
    &:not(:last-child) {
      &:after {
        left: 0;
      }
    }
  }
}
.ob_index_imgs{
  border:1px solid $border_color;
  .van-swipe-item{
    height:140px;
  }
}
