@charset "UTF-8";
//登录页样式
.mr-root .login-content {

  .van-cell-group {
    background-color: #efeff4;
    width: 80%;
    max-width: 8rem;
    margin: 1rem auto;
    .van-cell {
      border: 1px solid #dcdfe6;
      border-radius: 4px;
      margin-bottom: 10px;
      height: 1.2rem;
      line-height: 1.2rem;
      max-height: 40px;
      .van-cell__value {
        //overflow: visible;
      }
    }

  }
  .userPhoto {
    width: 2.4rem;
    height: 2.4rem;
    margin: 1.2rem auto;
    img {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
    }
  }
  .van-button {
    width: 80%;
    display: block;
    max-width: 8rem;
    margin: 0.4rem auto;
    line-height: 1rem;
    height: 1rem;
    //max-height: 40px;

  }
  p {
    //display: block;
    width: 80%;
    max-width: 8rem;
    margin: 0 auto;

    //margin-right:14px;
    a:nth-child(1) {
      float: left;
      color: #606266;
    }
    a:nth-child(2) {
      float: right;
      color: #606266;
    }
  }

}

//注册页样式
.mr-root .register {
  .demo-ruleForm {
    .el-form-item {
      width: 70%;
      max-width: 8rem;
      margin: 0 auto 0.5rem;

      //line-height: 0.5rem;
      .el-form-item__content {
        width: 100%;
        .el-input .el-input__inner {
          height: 1rem;
          max-height: 40px;
        }
      }
    }
    .twoInput {
      .el-input__inner {
        width: 100%;
      }
      img {
        height: 1rem;
        line-height:1rem ;
        padding: 0 0.1rem;
      }
    }
    .threeInput {
      .el-input__inner {
        width: 100%;
      }
      .el-button {
        height: 1rem;
        line-height:1rem ;
        padding: 0 0.1rem;
        //max-height: 40px;
        background-color: white;
        border-color: red;
        color: red;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        margin: -10px -20px -10px -11px;
      }
    }
  }

  .goRegis {
    width: 100%;
    text-align: center;
    .el-button--primary {
      width: 70%;
      max-width: 8rem;

      background-color: #e1171b;
      border-color: #e1171b;
    }
    .van-button {
      height: 1rem;
      max-height: 40px;
    }
  }

}

//找回密码
.forgetPass {
  .van-cell-group {
    background-color: #efeff4;
    width: 80%;
    max-width: 8rem;
    margin: 1rem auto;
    .van-cell {
      border: 1px solid #dcdfe6;
      border-radius: 4px;
      margin-bottom: 10px;
      height: 1.2rem;
      line-height: 1.2rem;
      max-height: 40px;
      .van-cell__value {
        //overflow: visible;
      }
    }
.forgetTwoInput{
  img{
    //height: 1rem;
    //line-height:1rem ;
    //padding: 0 0.1rem;
  }
}
  }
  .nextBut {
    text-align: center;
    .van-button {
      width: 80%;
      max-width: 8rem;
      margin: 0 auto;
      height: 1.1rem;
      line-height: 1.1rem;
    }
  }

}
