@charset "UTF-8";
//header样式
#app,body{
  @extend %relative;
  background-color: #efeff4;
  height: 100%;
  max-width: 800px;
  margin: 0 auto!important;
}
.van-tabbar-item--active{
  color: #e1171b;
}
.mr-root {
  font-family: $fontYaHei;
  .van-nav-bar {
    background-color: #e1171b;
    color: #fff;
    .van-icon {
      color: #fff;
      font-size: 0.4rem;
    }
    .van-nav-bar__text {
      color: #fff;
      //font-size: 0.7rem;
    }
  }
}

.ob_no_data {
  @extend %textAlign;
  margin-top: 3.4rem;
}
.bott_tabbarcla{
  font-family: $fontYaHei;
  .van-tabbar{
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
  }
  .van-icon{
    color: #e1171b;
    font-weight: bold;
  }
}
.yd-mask{
  max-width: 800px;
  margin: 0 auto;


}
.yd-datetime{
  max-width: 800px;
  margin: 0 auto;
  //position: absolute!important;
  left: auto!important;
}
.van-actionsheet{
  max-width: 800px;
  margin: 0 auto;
}
.van-dialog{
  max-width: 800px;
  width: 65%;
}

//yd组件下拉刷新头部样式
.yd-pullrefresh-dragtip{
  z-index: 9960;
}



















