@charset "UTF-8";
//header样式
#app,body{
  @extend %relative;
  background-color: #efeff4;
  height: 100%;
  max-width: 800px;
  margin: 0 auto!important;
}
.van-tabbar-item--active{
  color: #ff4444;
}
.mr-root {

  .van-nav-bar {
    background-color: #ff4444;
    color: #fff;
    .van-icon {
      color: #fff;
      font-size: 0.4rem;
    }
    .van-nav-bar__text {
      color: #fff;
      //font-size: 0.7rem;
    }
  }
}

.ob_no_data {
  @extend %textAlign;
  margin-top: 3.4rem;
}
.bott_tabbarcla{
  .van-tabbar{
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
  }
}




















