@charset "UTF-8";
//header样式
.mr-root {
  .van-nav-bar {
    background-color: $red_color;
    color: #fff;
    .van-icon {
      color: #fff;
      font-size: 0.4rem;
    }
  }
}

.ob_no_data {
  @extend %textAlign;
  margin-top: 3.4rem;
}




















